---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Source+Serif+4&display=swap');
body {
    font-family: 'Source+Serif+4';
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
    color: #383838;
}
